:root {
    --color: #27ae60;
    --black: #192a56;
    --light: #666;
    --search-notifi: #285AEB;
    --success-notifi: #37d53d;
    --error-notifi: #fa2525;
    --warning-notifi: #f1f150;
    --done-notifi: #46c6e2;
}
*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    position: relative;
}
.main {
    width: 100%;
    height: 100vh;
}
.form-error {
    border: var(--error-notifi);  
}
#header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 10px var(--light);
    z-index: 1000;
    position: fixed;
    padding: 10px 5%;
}
.header_local {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_local i {
    font-size: 30px;
    color: var(--color);
}
.header_local h1 {
    font-size: 30px;
    color: var(--black);
}
.header_catergory {
    display: flex;
    align-items: center;
}
.header_catergory a {
    color: var(--light);
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    margin: 15px 5px;
    transition: 0.4s linear;
    margin: 0 10px;
}
.header_catergory a:hover {
    background-color: var(--color);
    color: #fff;
    border-radius: 10px;
    transform: scale(1.2);
}
.header_tools {
    display: flex;
    align-items: center;
    position: relative;
}
.icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    margin: 10px 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: 2px solid var(--light);
    transition-property: outline-color, background-color, outline-offset;
    transition-duration: 0.3s ;
}
.navigation {
    display: flex;
}
.icon:hover {
    outline-offset: 3px;
    -moz-outline-radius: 3px 50%;
}
.icon:hover i {
    animation: around 0.25s;
}
.icon:hover {
    outline-color: var(--color);
    background-color: var(--color);
    color: #eee;
}
.nav {
    width: 100%;
    padding: 15px 5%;        
    list-style: none;
    display: flex;
    flex-direction: column;
    z-index: 1001;
    position: fixed;
    top: 12%;
    transition: all 0.4s linear;
    transform: translateY(-200%);
    background-color: #fff;
    box-shadow: 3px 5px 4px #888888a8;
    border-top: 2px solid #888888a8;
}
.nav_list {
    background-color: #eee;
    padding: 15px 0;
    margin: 5px 0;
    border-radius: 10px;
}
.nav_list:hover {
    cursor: pointer;
    background-color: var(--color);
}
.nav_list:hover a {
    color: #fff;
}
.nav_list  a {
    text-decoration: none;
    font-size: 20px;
    color: #898989;
    padding: 5px 10px;
}
.nav_list-link {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.cart {
    position: relative;
}
.cart .quanlity-cart {
    font-size: 20px;
    color: #192a56;
    position: absolute;
    top: -35%;
    right: -50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20%;
}
.buy-cart {
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateX(200%);
    position: fixed; 
    top: 0;
    z-index: 10001;
    transition: 0.2s linear;
}
.buy-detail{
    width: 50%;
    height: 90%;
    z-index: 100009;
    right: 0;
}
.shop-cart {
    width: 40%;
    right: 0;
    top: 0;
    background-color: #dadada;
    display: block;
    transition: 0.2s linear;
    transform: translateX(150%);
    position: fixed;
    margin: 30px 40px;
    border-radius: 20px;
    height: 90%;
    overflow-y: scroll;
}
.shop-cart::-webkit-scrollbar {
    width: 7px;
}
.shop-cart::-webkit-scrollbar-track {
    border-radius: 4px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0 , .05);
    height: 20%;
}
.shop-cart::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.204);
    border-radius: 4px;
    cursor: pointer;
}
.shop-cart::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.467);
}
.buy-cart .close {
    font-size: 30px;
    cursor: pointer;
    margin-top: 10px;
    right: 15px;
    position: absolute;
    z-index: 1000009;
}
.shop-heading {
    text-align: center;
    margin: 10px 0;
    position: relative;
}
.shop-title {
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #fff;
}
.shopping-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
    border-radius: 5px;
    margin: 20px 0;
    width: 95%;
    margin: 15px auto;
    border: 1px solid var(--light);
}
.shopping-item:hover {
    background-color: rgba(0, 0, 0 , .07);
    border-color: var(--color);
}
.shopping-image {
    width: 70px;
    height: 70px;
}
.shopping-image  img {
    object-fit: cover;
    /* height: 100%; */
    object-position: center;
    border-radius: 20px;
    width: 65%;
}
.shoppping-infor {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.information {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.shopping-image {
    height: 60%;
}
.label {
    font-size: 18px;
    padding-right: 6px;
}
.item-name {
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.item-price {
    font-weight: bolder;
}
.item-button {
    display: flex;
    flex-direction: column;
}
.item-button i {
    color: #fd5949;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    margin-bottom: 10px;
}
.item-button i:hover {
    opacity: 1.2;
}
.item-button_quanlity{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}
.item-button_quanlity button {
    width: 30px ;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin:  0 5px;
    color: var(--black);
    cursor: pointer;
}
.item-quanlity{
    font-size: 20px;
    font-weight: bolder;
    margin: 0 5px;
}
.item-button_quanlity button:hover {
    background-color: #192a56;
    color: #fff;
}
.buy-cart button {
    background-color: var(--black);
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.buy-cart-action button:hover {
    color: var(--light);
}

.buy-cart button:hover {
    background-color: var(--color);
    color: #fff;
}
.buy-infor_total {
    font-size: 20px;
    font-family: sans-serif;
    margin-right: 50px;
    margin-left: 15px;
    font-weight: 500;
}
.buy-cart__total-item {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}
@keyframes around {
    10% {
        transform: rotate(105deg);
    }
    20% {
        transform: rotate(-105deg);
    }
    30% {
        transform: rotate(105deg);
    }
    40% {
        transform: rotate(-105deg);
    }
}
.input-search {
    width: 100%;
    height: 100%;
    z-index: 1100;
    background-color: rgba(0, 0, 0 , .75);
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}
.scrollYafter {
    transition: 0.35s ease-in-out;
    transform: translateY(-100%);
    /* animation: scrollafter 0.35s ease-in-out; */
}
.scrollYbefore {
    transition: 0.35s ease-in-out;
    transform: translateY(0);
    /* animation: scrollbefore 0.35s ease-in-out; */

}
@keyframes scrollbefore {
    from {
        transform: translateY(-100%);
    } to {
        transform: translate(0);
    }
}
@keyframes scrollafter {
    0% {
        transform: translate(0);
    } 100% {
        transform: translateY(-100%);
    }
}
.input-search .search {
    padding: 10px 10px;
    font-size: 30px;
    border: none;
    background-color: rgba(0, 0, 0 , .0);
    border-bottom: 2px solid #dadada;
    outline: none;
    color: #dadada;
}
.content-search i {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    margin-left: 10px;
}
.content-search i:hover {
    color: var(--color);
    transition: 0.4s linear;
    transform: rotate(90deg);
}
.close i {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.close i:hover {
    color: var(--color);
    transition: 0.25s ease-in-out;
    transform: rotate(90deg);
}
.content-search {
    text-align: center;
}
.history-search {
    list-style: none;
}
.list-item {
    cursor: pointer;
    color: #dadada;
    padding: 10px 10px;
    border-bottom: 1px solid #dadada;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-item i {
    color: #dadada;
}
.list-item .item-value {
    font-size: 20px;
    font-weight: 200;
}
.hiden {
    display: none;
}
.transform {
    animation: scr;
    transform: translateY(-200%);
}
#home {
    width: 100%;
    background-color: #eee;
    padding: 20px 8%;
    overflow-x: hidden;
}
.swiper {
    width: 100%;
    height: 300px;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    overflow: hidden;
}
.slider_content-heading {
    color: var(--color);
    font-size: 25px;
    font-weight: 200;
    margin: 10px 0;
}
.slider_content {
    flex: 1 1 45px;
}
.slider_content--subheading {
    color: #192a56;
    font-size: 60px;
    font-weight: bold;
    margin: 8px 0;
}
.slider_content-phara {
    color: var(--light);
    font-size: 23px;
    margin: 10px 0;
    padding: 10px 0;
}
.button-more{
    padding: 10px 10px;
    color: #fff;
    transition: 0.3s linear;
    border-radius: 4px;
    background-color: var(--black);
}
.button-more:hover {
    background-color: var(--color);
}
.slider_image  img {
    object-fit: cover;
    width: 100%;
    flex: 1 1 45px;
}
.swiper-pagination .swiper-pagination-bullet {
    background: var(--color);
}
#Dishes {
    width: 100%;
    background-color: #dadada;
    margin-top: 100px;
}
.title {
    color: var(--color);
    font-size: 25px;
    text-align: center;
    font-weight: 550;
    padding: 10px;
}
.heading {
    font-size: 35px;
    color: var(--black);
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
.product {
    text-align: center;
    justify-content: center;
}
.box {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0 , .5);
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
}
.icon-heart {
    transform: translateX(-150%);
    transition: 0.3s linear;
} 
.box:hover .icon-heart {
    transform: translate(0);
}
.box:hover .image img {
    transition: 0.3s linear;
    transform: translateX(-10%);
    transform: translateY(-10%);
}
.box .image {
    width: 100%;
}
.image img {
    width: 100%;
    object-fit: cover;
}
.product-name {
    text-align: center;
    color: var(--black);
    font-size: 20px;
    font-weight: 600;
}
.star {
    color: var(--color);
    cursor: pointer;
}
.price {
    font-size: 20px;
    color: var(--black);
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--color);
}
.choice {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;

}
.addto {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--black);
    color: #fff;
    border-radius: 7px;
    transition: 0.25s linear;
}
.addto:hover {
    background-color: var(--color);
    color: #dadada;
    transform: scale(1.2);
}
.buyfood {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--black);
    color: #fff;
    border-radius: 7px;
}
.order-now button {
    font-size: 15px;
}
.buyfood:hover {
    background-color: var(--color);
    color: #dadada;
    transition: 0.25s linear;
    transform: scale(1.2);
}
#about {
    padding: 20px 8%;
    background-color: #dadada;
    margin-top: 100px;
}
.about-image {
    flex: 1;
}
.about-content {
    flex: 1;
}
.about-image  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.about-list {
    display: flex;
    justify-content: space-between;
}
.about-content .title-phara {
    color: var(--black);
    font-size: 40px;
    line-height: 1.5;
}
.about-content .about-phara {
    color: var(--light);
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.5;
    margin-bottom: 10px;
}
.about-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.button {
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #eee;
    text-align: center;
    border-radius: 5px;
    border: none;
}
.about-payments {
    flex: 1;
}
.about_button-active:hover {
    animation: 0.3s linear;
    background-color: var(--color);
    color: #fff;
}
.about_button-active:hover i {
    color: #fff;
}
.about-Localtion {
    flex: 1;
}
.about-payments i {
    font-size: 25px;
    color: var(--color);
    padding-left: 3px;
}
.about-Localtion i {
    font-size: 25px;
    color: var(--color);
}

.about-infor  {
    width: 100%;
    cursor: pointer;
    margin-top: 25px;
    border: none;
}
.about-infor:hover {
    border: var(--color);
}
.about-name {
    font-size: 15px;
font-weight: 100    ;
}
.about-icon {
    margin-bottom: 4px;
}
#menu {
    padding: 20px 7%;
    margin-bottom: 40px;
}
.menu-items {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0 , .5);
    cursor: pointer;
    padding: 10px;
    margin-top: 25px;
}
.icon-heart {
    transform: translateX(-150%);
    transition: 0.3s linear;
} 
.menu-items:hover .icon-heart {
    transform: translate(0);
}
.menu-image {
    width: 100%;
}
.menu-image img {
    object-fit: cover;
    width: 100%;
    object-position: center;
    transition: all 0.35s linear;
    border-radius: 4px;
    height: 100%;
}
.menu-image:hover img {
    transform: scale(1.2);
}
.menu-name {
    font-size: 20px;
    color: var(--black);
    font-weight: 600;
    margin: 15px 0;
}
.menu-phara {
    font-size: 20px;
    color: var(--light);
    margin: 10px 0;
    line-height: 1.5;
}
#comment {
    background-color: #dadada;
    padding: 30px 0;
    margin-bottom: 40px;
    overflow-x: hidden;
}
.comment-content {
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid var(--color);
    padding: 20px 7%;
    width: 100%;
}
.cmt-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cmt-image img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cmt-image {
    margin-right: 10px;
}
.comment-name {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}
.cmt-icon i {
    font-size: 40px;
    color: var(--light);
}
.cmt-phara {
    color: var(--light);
    line-height: 1.5;
    font-size: 20px;
    margin-top: 20px;
}
#order {
    padding: 20px 7%;
    margin-bottom: 40px;
}
.form {
    border-radius: 5px;
    border: 1px solid #dadada;
    padding: 20px;
}
.form-order {
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.form-information {
    flex: 1;
}
.form-group {
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.form-group label {
    font-size: 15px;
    color: var(--light);
    margin-bottom: 15px;
    font-weight: 600;
}
.form-group input {
    width: 100%;
    padding: 10px 20px;
    color: var(--light);
    font-size: 17px;
    border-radius: 5px;
    outline: none;
    background-color: #dadada;
    border: transparent;
}
.form-error input {
    border: 1px solid var(--error-notifi);
}
.form-group input:focus {
    border: 1px solid var(--color);
}
.form-plain {
    flex: 1;
    position: relative;
}
.form-plain input {
    padding: 15px 15px 130px 13px;
}
.form-plain input {
    top: 0;
}
.mapImg {
    border-radius: 4px;
    margin-top: 20px;
}
.address-localtion {
    font-size: 15px;
    width: 20%;
    margin-top: 10px;
    cursor: pointer;
    padding: 10px 0;
    border-radius: 10px;
    background-color: var(--black);
    color: #fff;
    transition: all 0.3s linear;
    border: none;
}
.address-localtion:hover {
    background-color: var(--color);
}
.form-message {
    font-size: 18px;
    margin: 8px 10px 0;
    color: var(--error-notifi);
}

.button-buy {
    padding: 20px 40px;
    background-color: var(--black);
    border-radius: 10px;
    color: var(--light);
    margin: 20px;
    cursor: pointer;
    border: none;
}
.form .button-buy:hover {
    background-color: var(--color);
    color: #fff;
}
.buy-notifical {
    background-color: #eee;
    color: var(--light);
    font-size: 13px;
    padding: 10px 10px;
    align-items: center;
    width: 50%;
    justify-content: center;
    border-radius: 5px; 
    margin-left: 7%;
    position: relative;
    animation: showrender linear 0.35s;
    transform-origin: bottom left;
    display: none;
}
.show:hover .buy-notifical {
    display: flex;
}
@keyframes showrender {
    from {
        opacity: 0;
        transform: scale(0);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}
.buy-notifical::before{
    content: "";
    border: 20px solid ;
    border-color: #dadada transparent transparent  transparent;
    position: absolute;
    bottom: calc(-100% + 15px);
    left: 3%;
    
}
.buy-notifical i {
    font-size: 30px;
    color: var(--color);
    margin-left: 7px;
}
#footer {
    padding: 20px 7%;
    background-color: #dadada;
}
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-heading {
    font-size: 20px;
    color: var(--black);
}
.footer-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer-item {
    font-size: 20px;
    color: var(--light);
    font-weight: 550;
}
.footer-list i {
    border-radius: 50% ;
    color: var(--light);
    width: 40px;
    height: 40px;
    outline: 2px solid var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: outline-color, background-color, outline-offset;
    transition-duration: 0.3s;
}
.quick-link {
    padding: 5px 0;
    width: 100%;
    display: inline-block;
}
.footer-item i:hover {
    animation: hoveraround 0.3s linear;
    cursor: pointer;
}
@keyframes traslate {
    55% {
        transform: translateX(-20%);
    }
    100% {
        transform: translate(0);
    }
}
@keyframes hoveraround {
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-15deg);
    }
    30% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
} 
.bxs-phone-call:hover {
    background: radial-gradient(circle at 30% 107%, #08ad3ffc 0%, #53dd17 5%, #08ad3ffc 90%);
    outline-color: #08ad3ffc;
    outline-offset: 3px;
}
.footer-item_detail {
    margin-top: 7px;
    font-size: 16px;
}
.fa-envelope:hover {
    background-color: #fff;
    outline-color: #fff;
    outline-offset: 3px;
    color: #d6331d;
}
.footer-list .fa-facebook:hover {
    background-color: #385898;
    outline-color: #385898;
    color: #fff;
    transition: linear;
    outline-offset: 3px ;
}
.instagram i:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.instagram i:hover{
    outline-color: #a02d76;
    outline-offset: 3px;
}
.footer-list .fa-github:hover {
    background-color: var(--black);
    outline-color: var(--black);
    transition: linear;
    outline-offset: 3px;
    color: #fff;
}
.footer-col {
    margin: 15px 0;
}

.load-container{
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 10000;
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #fff;


   display: none; 
}
.load-container img {
    object-fit: cover;
    object-position: center;
    width: 400px;
}
.load-hiden {
    display: none;
}
.newBuyPage {
    color: #dadada;
    text-decoration: none;
    padding: 20px 40px;
    max-width: 100%;
}
.buy-cart-action {
    display: flex;
    flex-direction: column;
}
.buy-infor_total-value{
    font-size: 20px;
    font-weight: 700;
    position: relative;
}
.buy-btn {
    position: absolute;
    width: 150px;
    right: 30px;
}
#handle-notifi{
    position: fixed;
    top: 0px;
    z-index: 10;
    left: 30px;
}
.notification {
    border-radius: 5px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.093);
    justify-content: space-evenly;
    background-color: ivory;
    transition: 0.5s ease-in-out;
    z-index: 2;
    top: 100px;
    margin: 10px 0;
    position: relative;
}
.count-down {
    position: absolute;
    background-color: ivory;
    width: 100%;
    border-radius: 3px;
    height: 3px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    animation: transform 2s linear forwards;
    background-color: #285AEB;
}
.search-noti{
    border-right: 4px solid var(--search-notifi);
    z-index: 2;
}
@keyframes transform {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}
@keyframes show_noti {
    0% {
        transform: translateX(-200%);
    }
    25% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(3%);
    }
    75% {
        transform: translateX(-3%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes hide_noti {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5%);
    }
    40% {
        transform: translateX(0%);
    }
    75% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(-200%);
    }
}
.noti-infor-count {
    background-color: var(--search-notifi);
}
.noti-success-count {
    background-color: var(--success-notifi);
}
.noti-shop-count {
    background-color: var(--error-notifi);
}
.noti-warn-count {
    background-color: var(--warning-notifi);
}
.noti-done-count {
    background-color: var(--done-notifi);
}
.search-icon_noti {
    font-size: 25px;
    margin-right: 20px; 
}
.noti-infor { 
    color: var(--search-notifi);
}
.search-noti_name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
}
.search-noti_phara {
    font-size: 15px;
}
.noti_close {
    font-size: 25px;
    margin-left: 4rem;
    cursor: pointer;
}
.noti-success { 
    color: var(--success-notifi);
}
.success-noti {
    border-right: 4px solid var(--success-notifi);
}
.noti-shopping { 
    color:  var(--error-notifi);
}
.shopping-noti {
    border-right: 4px solid var(--error-notifi);
}
.warning-noti {
    border-right: 4px solid var(--warning-notifi);
}
.noti-waring { 
    color:  var(--warning-notifi);
}
.noti-bought {
    color: var(--done-notifi);
}
.bought-noti {
    border-right: 4px solid var(--done-notifi);
}
.footer-list_item {
    padding: 0 10px;
    border-bottom: 1px solid var(--color);
    margin: 10px 0;
}
.footer-list_item:hover {
    animation: traslate 0.4s linear;
    cursor: pointer;
    color: var(--color);
}
.border-none {
    border: none;
    animation: none;
}
.border-none:hover {
    cursor: default;
    animation: none;
}
.moreBuy {
    padding: 10px 10px;
    border-radius: 4px;
    transition: all 0.4s linear;
    position: absolute;
    left: 30px;
}